<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhou.com.xmkj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.csdn.blog.ruancoder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.activity.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.MyFansActivity" />
        <activity android:name=".ui.activity.MyNewsActivity" />
        <activity android:name=".ui.activity.RealNameAuthenticationActivity" />
        <activity android:name=".ui.activity.CodeActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.help.HelpActivity" />
        <activity android:name=".ui.activity.UserInfoActivity" />
        <activity android:name=".ui.activity.AccountMessageActivity" />
        <activity android:name=".ui.activity.GoodsActivity" />
        <activity android:name=".ui.activity.LabelActivity" />
        <activity android:name=".ui.activity.FansPointActivity" />
        <activity android:name=".ui.activity.AgreementActivity" />
        <activity android:name=".ui.activity.ForgetActivity" />
        <activity android:name=".ui.activity.help.HelpDocActivity" />
        <activity android:name=".ui.activity.help.WorkOrderActivity" />
        <activity android:name=".ui.activity.help.OnlineServiceActivity" />
        <activity android:name=".ui.activity.personmessage.TipActivity" />
        <activity android:name=".ui.activity.NicknameActivity" />
        <activity android:name=".ui.activity.FansActivity" />
        <activity android:name=".ui.activity.current.CurrentActivity" />
        <activity android:name=".ui.activity.MyMessageActivity" />
        <activity android:name=".ui.activity.setting.SettingActivity" />
        <activity android:name=".ui.activity.setting.SetPsdActivity" />
        <activity android:name=".ui.activity.setting.SetZhiActivity" />
        <activity android:name=".ui.activity.setting.SetLanguageActivity" />
        <activity android:name=".ui.activity.setting.SetEmailActivity" />
        <activity android:name=".ui.activity.setting.SetPhoneActivity" />
        <activity android:name=".ui.activity.setting.SettingPasswordActivity" />
        <activity android:name=".ui.activity.setting.SettingZhifuActivity" />
        <activity android:name=".ui.activity.setting.SettingAboutActivity" />
        <activity android:name=".ui.activity.SpeedActivity" />
        <activity android:name=".ui.activity.current.TransferActivity" />
        <activity android:name=".ui.activity.current.InvestmentActivity" />
        <activity android:name=".ui.activity.current.TradingActivity" />
        <activity android:name=".ui.activity.current.ThehallActivity" />
        <activity android:name=".ui.activity.current.SunActivity" />
        <activity android:name=".ui.activity.current.CurrentRegisterActivity" />
        <activity android:name=".ui.activity.vrch.VRCHActivity" />
        <activity android:name=".ui.activity.HallMembersActivity" />
        <activity android:name=".ui.activity.index.VRCarActivity" />
        <activity android:name=".ui.activity.index.VRMarketActivity" />
        <activity android:name=".ui.activity.index.VRShoppingActivity" />
        <activity android:name=".ui.activity.index.VRHomeActivity" />
        <activity android:name=".ui.activity.index.VRFilmActivity" />
        <activity android:name=".ui.activity.index.VRTravelActivity" />
        <activity android:name=".ui.activity.index.VRFootActivity" />
        <activity android:name=".ui.activity.index.VRMoreActivity" />
        <activity android:name=".ui.activity.AddressActivity" />
        <activity android:name=".ui.activity.vrch.VrchOutActivity" />
        <activity android:name=".ui.activity.vrch.VrchInActivity" />
        <activity android:name=".ui.activity.current.Investment2Activity"></activity>
    </application>

</manifest>